**.DS_Store
Icon?

**/.ipynb_checkpoints
**.jupyter
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake

analyze_networks/extract_joint_degree_sequence
analyze_networks/extract_marginal_degree_dist
analyze_networks/extract_network_properties
analyze_networks/extract_network_properties_no_triangles

infer_parameters/fitting_directedS1
infer_parameters/generating_directedS1

python_scripts/*_edgelist.txt
